.box{
    width: 400px;
    height: 400px;
    background-color: tomato;
    border: 2px solid green;
    position: relative;
    margin: 50px auto;
    text-align: center;
    font-size: 30px;
    color: aqua;
    box-shadow: 5px 5px 5px rgb(116, 122, 115),
    -5px -5px 5px rgb(116, 122, 115);
    border-radius: 10px;
}
  

.box img {
    height: 200px;
    width: 150px;
    margin: 1px auto;
    position: relative;
    border-radius: 15px;
    border: 5px solid blue;
}

.social{
    height: 80px;
    width: 80px;
    margin: 50px auto;
    background-image: url(images/social.png);
    background-repeat: no-repeat;
    background-position: 0 -85px;
    border-radius: 50%;
  
}

.social:hover{
    height: 80px;
    width: 80px;
    margin: 50px auto;
    background-image: url(images/social.png);
    background-repeat: no-repeat;
    background-position: 0 -169px;
    border-radius: 50%;
}

:root {
    overflow: hidden; /* hides any part of the sun below the horizon */
    background-color: lightblue;
    display: flex;
    justify-content: center; /* centers the sun in the background */
  }
  
  .sun {
    background-color: yellow;
    border-radius: 50%; /* creates a circular background */
    height: 100vh; /* makes the sun the size of the viewport */
    aspect-ratio: 1 / 1;
    animation: 1s linear 0s infinite alternate sun-rise;
  }
  
  @keyframes sun-rise {
    from {
      /* pushes the sun down past the viewport */
      transform: translateY(110vh);
    }
    to {
      /* returns the sun to its default position */
      transform: translateY(0);
    }
  }

